WPE_API_USER_ID=
WPE_API_PASSWORD=

WP_ADMIN_USER=
WP_ADMIN_PASSWORD=

ANTHROPIC_BASE_URL=
ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_API_KEY=
ANTHROPIC_DEFAULT_SONNET_MODEL=
ANTHROPIC_DEFAULT_HAIKU_MODEL=
ANTHROPIC_DEFAULT_OPUS_MODEL=
